@using MockPortal_Components;

@page "/apiproductmethods/{groupcode}"

@*@attribute [Route(Constants.ApiProductMethodsPageUrl)]*@

@using System.Net.Http;
@using System.Net.Http.Json;
@using System.IO;
@using System.Text.Json;
@using System.Text.Json.Nodes;
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@* <div class="api-header-block">
        <a href="/apiproducts" class="api-header-nav-link">
            <i class="fas fa-chevron-left"></i>
        </a>
        <h1 class="block-header">@(appCatalogGroups.Count == 0 ? "" : appCatalogGroups[0].GroupName)</h1>
    </div> *@
<div class="api-header-block">
    <a href="@($"{Constants.UrlPrefix}/apiproducts")" class="api-header-nav-link">
        <i class="fas fa-chevron-left"></i>
    </a>
    <h4 class="block-header">@groupName</h4>
</div>
<div>
    <section class="api-master-container">
        <article class="api-key-container">
            <h3 class="api-key-header">APP ID</h3>
            <div class="api-key-value">7649d0a3-c4b4-4dfe-82ea-70f85006c4a3<span class="icon-suffix"><i class="fas fa-copy"></i></span></div>
            <button class="btn-active">Create key</button>
            <div class="api-key-value-container">
                <div class="api-kv-key">Key1</div>
                <div class="api-kv-value">63d07833-001a-4898-99d9-26b239b67d22</div>
                <span class="icon-suffix"><i class="fas fa-copy"></i></span>
                <span class="icon-suffix"><i class="fas fa-times"></i></span>
            </div>
        </article>

        @foreach (var method in appCatalogMethods)
        {
            @if (@method.DomainName != currentDomainName)
            {
                <h3 class="api-header">@method.DomainName</h3>
                currentDomainName = @method.DomainName;
            }
            <article class="api-container">
                <div class="page-taxonomy tag-@method.MethodType.ToLower()" title="@method.MethodType" rel="tag">@method.MethodType</div>
                <div class="api-detail-container">
                    <div class="api-name">@(method.MethodPrefix + method.Method)</div>
                    <div class="api-description">@method.MethodDescription</div>
                </div>
                <div class="api-link-container">
                    <a onclick=@(() => OpenApiProductMethodTest(method.Id)) class="api-nav-link">
                        <i class="fas fa-chevron-right"></i>
                        @* <button>></button> *@
                    </a>
                </div>
            </article>
        }
    </section>
</div>

<div style="margin:10px 0;">
    <label style="color: red;">@_statusMessage</label>
</div>
@code {

    [Parameter]
    public string groupcode { get; set; }

    string currentDomainName = "";

    public class ApiDetails
    {
        public string apiType { get; set; }
        public string apiPath { get; set; }
    }

    string groupName = "";
    List<AppCatalogMethod> appCatalogMethods = new List<AppCatalogMethod>();

    List<ApiDetails> apiDetailsList = new List<ApiDetails>();

    @* [CascadingParameter] public IModalService Modal { get; set; } = default!; *@

    private string selectedItem;

    private List<Item> SelectedValues = new List<Item>();

    private List<Item> SelectedItems = new List<Item>();

    private StandaloneCodeEditor _editor = null!;
    private string _valueToSet = "";
    private string _fileName = "";
    private string _folderName = "";
    private string _statusMessage = "";

    private string _param1 = "";
    private string _param2 = "";
    private string _param3 = "";
    private string _param4 = "";

    private string _results = "";

    private string _errorMessage = "";

    public async ValueTask DisposeAsync()
    {

    }

    private class Item
    {
        public string Self { get; set; }
        public int Level { get; set; }
        public string Parent { get; set; }
    }

    private List<Item> _rootItem = new List<Item>();

    private Object _lock = new Object();

    private async Task<List<Item>> GetChildrenAsync(Item item)
    {
        Console.WriteLine("GetChildren");

        if (item == null)
        {
            Console.WriteLine("return _rootItem");
            return _rootItem;
        }
        else if (item.Level == 0)
        {
            Console.WriteLine("item.Level == 0");
            using var response = await Http.GetAsync($"{Constants.ApiBaseUrl}__getmockfolderfiles/?folderName={item.Self}");
            var results = await response.Content.ReadFromJsonAsync<string[]>();

            var items = new List<Item>();
            foreach (var result in results)
            {
                if (!string.IsNullOrEmpty(result.Trim()))
                {
                    items.Add(new Item { Self = result, Level = 1, Parent = item.Self });
                }
            }

            Console.WriteLine("returning Level 1 items");
            return items;
        }
        else
        {
            Console.WriteLine($"else {item.Self}");
            return _rootItem;
        }
    }

    private async Task<bool> HasChildrenAsync(Item item)
    {
        if (item.Level == 0)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private string GetParent(string item)
    {
        var last_period = item.LastIndexOf('.');
        if (last_period < 0)
        {
            return null; // no parent
        }
        else
        {
            return item.Substring(0, last_period);
        }
    }

    bool initialised = false;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"APIProductMethods::OnInitializedAsync groupcode {groupcode}");

        //await RefreshFolders();

        //apiDetailsList.Add(new ApiDetails {apiType = "GET", apiPath = "/students/list/zoneId={zoneId}"});
        //apiDetailsList.Add(new ApiDetails {apiType = "PUT", apiPath = "/students/savestudent/zoneId={zoneId}"});

        await GetAppCatalogGroupName(groupcode);
        await GetAppCatalogMethods(groupcode);

        initialised = true;
        Console.WriteLine("OnInitializedAsync complete");
    }

    private void OpenApiProductMethodTest(string Id)
    {
        NavigationManager.NavigateTo($"{Constants.UrlPrefix}/apiproductmethodtest/{groupcode}/{Id}");
    }

    #region TreeView Events
    private async Task OnLoadStart()
    {
        try
        {
            Console.WriteLine("ONLOADSTART");

            //await RefreshFolders();

            _errorMessage = "LOADED!";
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in OnLoadStart: {ex.Message}");
        }
    }

    private async Task OnSelect(Item item)
    {
        try
        {
            Console.WriteLine("ONSELECT");

            @* var parameters = new ModalParameters()
                .Add(nameof(DisplayMessage.Message), "Hello, World!");
            *@
            //var ms = new ModalService();
            Console.WriteLine("ONSELECT 1.6");
            //var m = ms.Show<Confirm>("Welcome to Blazored Modal");
            //BlazoredModal.Show<Confirm>("aa");
            //var m = new BlazoredModelInstance();
            //await m.Result;

            @* var options = new ModalOptions
                {
                    AnimationType = ModalAnimationType.None
                }; *@

            //var result = await ShowConfirmDeleteModal();
            //var resultText = result.Confirmed ? "Confirmed" : "Cancelled";
            //Console.WriteLine($"ShowConfirmDeleteModal: {resultText}");

            //PositionCustom(ModalPosition.Middle);
            //ShowModalCustomOverlay();
            //var _ = Modal.Show<YesNoPromptAnimation>("Multiple Modals", options);
            //await _.Result;

            //var m1 = ms.Show<DisplayMessage>("Welcome to Blazored Modal");
            //await m1.Result;
            //var _ = Modal.Show<DisplayMessage>("Passing Data", parameters);
            //await _.Result;
            Console.WriteLine("ONSELECT 2");

            _results = "";

            if (!initialised) return;

            if (item.Level == 0) // Folder
            {
                _folderName = item.Self;
            }
            else if (item.Level == 1) // File
            {
                _folderName = item.Parent;
                _fileName = item.Self;

                using var response = await Http.GetAsync($@"{Constants.ApiBaseUrl}__getmockfolderfilecontents?folderName={_folderName}&fileName={_fileName}");
                var contents = await response.Content.ReadFromJsonAsync<string>();

                await _editor.SetValue(contents);
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in OnLoadStart: {ex.Message}");
        }
    }

    private async Task GetAppCatalogGroupName(string groupCode)
    {
        try
        {
            Console.WriteLine("GetAppCatalogGroupName");

            using var response = await Http.GetAsync($"{Constants.ApiBaseUrl}__getappcataloggroupname?groupCode={groupCode}");
            Console.WriteLine($"GetAppCatalogGroups response {response.StatusCode}");
            groupName = await response.Content.ReadAsStringAsync();

            Console.WriteLine($"GET APP CATALOGUE GROUPNAME: {groupName}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception in GetAppCatalogGroups: {ex.Message}");
        }
    }

    private async Task GetAppCatalogMethods(string groupCode)
    {
        try
        {
            Console.WriteLine("GetAppCatalogMethods");

            using var response = await Http.GetAsync($"{Constants.ApiBaseUrl}__getappcatalogmethods?groupCode={groupCode}");
            Console.WriteLine($"GetAppCatalogMethods response {response.StatusCode}");
            appCatalogMethods = await response.Content.ReadFromJsonAsync<List<AppCatalogMethod>>();
            if (appCatalogMethods == null)
            {
                Console.WriteLine("No App Catalog Methods Found");
            }
            else
                Console.WriteLine($"AppCatalogMethods Count: {appCatalogMethods.Count}");

            Console.WriteLine($"GET APP CATALOGUE METHODS {appCatalogMethods.Count}");
            foreach (var method in appCatalogMethods)
            {
                Console.WriteLine($"{method.GroupCode}, {method.DomainName}, {method.MethodType}, {method.Method}, {method.MethodDescription}, {method.FileName}");
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in GetAppCatalogMethods: {ex.Message}");
        }
    }

    @* void ShowModalCustomOverlay()
        {
            var options = new ModalOptions { OverlayCustomClass = "custom-modal-overlay" };
            Modal.Show<Confirm>("Custom Overlay", options);
        } *@

    @* void PositionCustom(ModalPosition position)
        {
            var options = new ModalOptions { Position = position };

            if (position == ModalPosition.Custom)
                options.PositionCustomClass = "my-custom-position";

            //options.HideCloseButton = true;
            //options.HideHeader = true;

            Modal.Show<Confirm>($"Position: {position}", options);
        } *@

    //void ShowYesNoModal() => Modal.Show<YesNoPrompt>("Are you sure you want to delete this record?");

    @* async Task<ModalResult> ShowConfirmDeleteModal()
        {
            var modal = Modal.Show<Confirm>("Are you sure you want to delete this record?");
            var result = await modal.Result;

            if (!result.Cancelled && (result.Data is bool accepted) && accepted)
            {
                //Navigator.NavigateTo ("/");
                return result;
            }

            return result;
        } *@

    #endregion // TreeView Events

    private async Task SaveMockFolderFile()
    {
        try
        {
            Console.WriteLine("Save Mock File");
            var fileContent = await _editor.GetValue();

            if (string.IsNullOrEmpty(fileContent))
            {
                _errorMessage = "No REST API content";
                return;
            }

            var fileDetails = new Dictionary<string, string>
        {
                { "filename", _fileName },
                { "foldername", _folderName },
                { "contents", fileContent }
            };

            using var response = await Http.PostAsJsonAsync($"{Constants.ApiBaseUrl}__savemockfolderfile", fileDetails);

            Console.WriteLine(response.StatusCode.ToString());
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine(ex.ToString());
        }
    }

    private async Task DeleteMockFolderFile()
    {
        try
        {
            _errorMessage = "";

            Console.WriteLine("Delete Mock Folder File");

            if (string.IsNullOrEmpty(_folderName))
            {
                _errorMessage = "No folder specified to delete";
                return;
            }

            if (string.IsNullOrEmpty(_fileName))
            {
                _errorMessage = "No file specified to delete";
                return;
            }

            //if (!await JS.InvokeAsync<bool>(
            //    "confirm", $"Are you sure you want to delete the file '{_fileName}' from folder '{_folderName}'?"))
            //return;

            @* var result = await ShowConfirmDeleteModal();
                var resultText = result.Confirmed ? "YES!" : "NO!";
                Console.WriteLine($"ShowConfirmDeleteModal: {resultText}"); *@
            return;

            var response = await Http.DeleteAsync($"{Constants.ApiBaseUrl}__deletemockfolderfile?folderName={_folderName}&fileName={_fileName}");

            if (response.StatusCode == System.Net.HttpStatusCode.OK)
            {
                _fileName = "";
                _folderName = "";
                await _editor.SetValue("");
            }

        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in DeleteMockFolderFile: {ex.Message}");
        }
    }

    private async Task TestParameters()
    {
        try
        {
            Console.WriteLine($"TestParameters: 1 {_param1}, 2 {_param2}, 3 {_param3}, 4 {_param4}");

            _errorMessage = "";

            if (string.IsNullOrEmpty(_folderName) || string.IsNullOrEmpty(_fileName))
            {
                _errorMessage = "Please select an API";
                return;
            }

            await GetMockRoutes();

            //await GetMockMethods();

            var fullFileName = $"./Mocks/{_folderName}/{_fileName}";
            Console.WriteLine($"fullFileName {fullFileName}");

            var url = GetUrl(await _editor.GetValue());
            var urlWithParams = ParameteriseUrl(url, _param1, _param2, _param3, _param4);
            var combinedUrl = $"{Constants.ApiBaseUrl}{urlWithParams}";
            Console.WriteLine($"combinedUrl: {combinedUrl}");

            var requestType = GetRequestType(await _editor.GetValue());
            if (requestType.ToLowerInvariant().Contains("get"))
            {
                using var response = await Http.GetAsync($"{combinedUrl}");
                Console.WriteLine($"response.StatusCode {response.StatusCode}");
                var results = await response.Content.ReadAsStringAsync();
                Console.WriteLine("=========================");
                Console.WriteLine($"results: {results}");
                Console.WriteLine("=========================");

                _results = results;
            }
            else if (requestType.ToLowerInvariant().Contains("put"))
            {
                var body = GetBody(await _editor.GetValue());
                Console.WriteLine($"Body: {body}");
                using var response = await Http.PutAsync($"{combinedUrl}", new StringContent(body));
                Console.WriteLine($"response.StatusCode {response.StatusCode}");
                Console.WriteLine("=========================");
                Console.WriteLine($"results: {response.StatusCode}");
                Console.WriteLine("=========================");

                _results = response.StatusCode.ToString();
            }
            else
            {
                Console.WriteLine($"RequestType not handled: {requestType}");
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in TestParameters: {ex.Message}");
        }
    }

    private string GetBody(string contents)
    {
        var body = "";

        try
        {
            var obj = JsonSerializer.Deserialize<JsonNode>(contents);
            body = JsonSerializer.Serialize(obj["request"]["body"]);

            Console.WriteLine($"GetBody: {body}");
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in GetBody: {ex.Message}");
        }

        return body;
    }

    private String GetRequestType(string contents)
    {
        var requestType = "";

        try
        {
            var obj = JsonSerializer.Deserialize<JsonNode>(contents);
            requestType = JsonSerializer.Serialize(obj["request"]["method"]);
            requestType = requestType.Replace("\"", "");
            requestType = requestType.Replace("\'", "");

            Console.WriteLine($"GetRequestType: {requestType}");
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in GetRequestType: {ex.Message}");
            return "EXCEPTION";
        }

        return requestType;
    }

    private string GetUrl(string contents)
    {
        var url = "";

        Console.WriteLine($"GetUrl contents: {contents}");

        try
        {
            var obj = JsonSerializer.Deserialize<JsonNode>(contents);
            url = JsonSerializer.Serialize(obj["request"]["route"]);
            url = url.Replace("\"", "");
            url = url.Replace("\'", "");

            Console.WriteLine($"GetUrl: {url}");
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in GetUrl {ex.Message}");
        }

        return url;
    }

    private async Task GetMockRoutes()
    {
        var mockRoutesUrl = $"{Constants.ApiBaseUrl}__getmockroutes";
        using var responseRoutes = await Http.GetAsync($"{mockRoutesUrl}");
        Console.WriteLine($"response.StatusCode {responseRoutes.StatusCode}");
        var routes = await responseRoutes.Content.ReadAsStringAsync();
        var routeList = routes.Split(",");
        foreach (var route in routeList)
        {
            Console.WriteLine($"route: {route}");
        }
    }

    private async Task GetMockMethods()
    {
        var url = $"{Constants.ApiBaseUrl}__getmockmethods";
        using var response = await Http.GetAsync($"{url}");
        Console.WriteLine($"response.StatusCode {response.StatusCode}");
        var methods = await response.Content.ReadAsStringAsync();
        var methodList = methods.Split(",");
        foreach (var method in methodList)
        {
            Console.WriteLine($"method: {method}");
        }
    }

    private List<string> GetUrlParameterNames(string url)
    {
        var parameterNames = new List<string>();

        return parameterNames;
    }
    private string ParameteriseUrl(string url, string p1, string p2, string p3, string p4)
    {
        var finalUrl = url;

        try
        {
            var openingBracketIndex = 0;
            var pIndex = 0;
            var pValue = "";
            while (openingBracketIndex != -1)
            {
                pIndex++;
                openingBracketIndex = finalUrl.IndexOf('{', openingBracketIndex + 1);
                if (openingBracketIndex != -1)
                {
                    var closingBracketIndex = finalUrl.IndexOf('}', openingBracketIndex);
                    switch (pIndex)
                    {
                        case 1:
                            pValue = p1;
                            break;
                        case 2:
                            pValue = p2;
                            break;
                        case 3:
                            pValue = p3;
                            break;
                        case 4:
                            pValue = p4;
                            break;
                    }
                    Console.WriteLine($"finalUrl.Length {finalUrl.Length} closingBracketIndex {closingBracketIndex}");
                    if (finalUrl.Length - 1 == closingBracketIndex)
                    {
                        finalUrl = $"{finalUrl.Substring(0, openingBracketIndex)}{pValue}";
                    }
                    else
                    {
                        finalUrl = $"{finalUrl.Substring(0, openingBracketIndex)}{pValue}{finalUrl.Substring(closingBracketIndex + 1)}";
                    }
                }
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in ParameteriseUrl: {ex.Message}");
        }

        return finalUrl;
    }


    private async Task SaveMockFolder()
    {
        try
        {
            _errorMessage = "";

            Console.WriteLine("Save Mock Folder");

            if (string.IsNullOrEmpty(_folderName))
            {
                _errorMessage = "Please specify a folder name to save";
                return;
            }

            using var response = await Http.PostAsJsonAsync($"{Constants.ApiBaseUrl}__savemockfolder", _folderName);

            if (response.StatusCode == System.Net.HttpStatusCode.OK)
            {
                //await RefreshFolders();
            }

            Console.WriteLine(response.StatusCode.ToString());
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine(ex.ToString());
        }
    }

    private async Task DeleteMockFolder()
    {
        Console.WriteLine("Delete Mock Folder");

        try
        {
            _errorMessage = "";

            if (string.IsNullOrEmpty(_folderName))
            {
                _errorMessage = "No mock folder specified to delete";
                return;
            }

            var response = await Http.DeleteAsync($"{Constants.ApiBaseUrl}__deletemockfolder?foldername={_folderName}");

            if (response.IsSuccessStatusCode)
            {
                //await RefreshFolders();
            }

            if (!string.IsNullOrEmpty(response.ReasonPhrase))
            {
                Console.WriteLine(response.ReasonPhrase.ToUpperInvariant());
                _statusMessage = response.ReasonPhrase;
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in DeleteMockFolder: {ex.Message}");
        }
    }

    private async Task RefreshFolders()
    {
        try
        {
            Console.WriteLine("Refresh Folders 1");

            using var response = await Http.GetAsync($"{Constants.ApiBaseUrl}__getmockfolders");
            Console.WriteLine($"GetMockFolders response {response.StatusCode}");
            var folders = await response.Content.ReadFromJsonAsync<List<string>>();
            if (folders == null)
            {
                Console.WriteLine("No folders found");
            }
            else
                Console.WriteLine($"Folders Count: {folders.Count}");

            foreach (var f in folders)
            {
                Console.WriteLine($"{f}");
            }
            //_rootItem.Clear();
            Console.WriteLine("Refresh Folders 2");

            RemoveMissingFoldersFromRootItem(folders);
            _rootItem = await Task.Run(() => PopulateRootItem(folders));
            Console.WriteLine($"Refresh Folders 3 {_rootItem.Count}");

            Console.WriteLine(response.StatusCode.ToString());
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error: {ex.Message}";
            Console.WriteLine($"Exception in GetMockFolderFiles: {ex.Message}");
        }
    }

    private async Task<List<Item>> PopulateRootItem(List<string> folders)
    {
        var itemList = new List<Item>();

        foreach (var folderName in folders)
        {
            var found = false;
            var index = 0;
            foreach (var item in _rootItem)
            {
                if (string.Compare(item.Self, folderName) > 0)
                {
                    itemList.Insert(index, new Item { Self = folderName, Level = 0 });
                    found = true;
                    break;
                }
                if (item.Self == folderName)
                {
                    found = true;
                    break;
                }
                index++;
            }

            if (!found)
            {
                itemList.Add(new Item { Self = folderName, Level = 0 });
            }
        }

        return itemList;
    }

    private void RemoveMissingFoldersFromRootItem(List<string> folders)
    {
        List<Item> removeList = new List<Item>();

        foreach (var item in _rootItem)
        {
            var found = false;
            foreach (var folder in folders)
            {
                if (folder == item.Self)
                {
                    found = true;
                    break;
                }
            }

            if (!found)
                removeList.Add(item);
        }

        foreach (var item in removeList)
        {
            _rootItem.Remove(item);
        }
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            Language = "javascript",
            GlyphMargin = true,
            Value = ""
        };
    }

    private async Task EditorOnDidInit()
    {
        /*await _editor.AddCommand((int)BlazorMonaco.KeyMod.CtrlCmd | (int)KeyCode.KeyH, (args) =>
        {
            Console.WriteLine("Ctrl+H : Initial editor command is triggered.");
        });

        var newDecorations = new ModelDeltaDecoration[]
        {
            new ModelDeltaDecoration
            {
                Range = new BlazorMonaco.Range(3,1,3,1),
                Options = new ModelDecorationOptions
                {
                    IsWholeLine = true,
                    ClassName = "decorationContentClass",
                    GlyphMarginClassName = "decorationGlyphMarginClass"
                }
            }
        };

        decorationIds = await _editor.DeltaDecorations(null, newDecorations);*/
        // You can now use 'decorationIds' to change or remove the decorations
    }
    private string[] decorationIds = new string[0];

    private void OnContextMenu(EditorMouseEvent eventArg)
    {
        Console.WriteLine("OnContextMenu : " + System.Text.Json.JsonSerializer.Serialize(eventArg));
    }
}